.nav-bar {
    padding: 10px;
    border-block-end: 1px solid steelblue;
}

.nav-bar__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.j-sort,
.j-filter {
    display: inline-block;
    border: 1px solid steelblue;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 2px;
    margin-inline-start: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.j-wrap {
    border-block-end: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    inset-block-start: calc(100% + 5px);
    inset-inline-start: 0;
    display: none;
}

.j-list {
    border: 1px solid steelblue;
    border-block-end: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.j-item {
    padding-inline: 1rem;
    padding-block: 0.2rem;
    border-block-end: 1px solid steelblue;
    cursor: pointer;
}

.j-item:hover {
    background-color: lightblue;
}

table.jexcel>thead>tr>td {
    overflow: visible;
}

div.jexcel_content {
    overflow: visible !important;
}