.nav-bar {
    padding: 10px;
    border-block-end: 1px solid steelblue;
}

.nav-bar__list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.unselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80vw;
    margin-inline: auto;
}

.j-sort,
.j-filter {
    display: inline-block;
    border: 1px solid steelblue;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 2px;
    margin-inline-start: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.j-wrap {
    border: 1px solid steelblue;
    position: absolute;
    z-index: 1000;
    background-color: white;
    inset-block-start: calc(100% + 5px);
    inset-inline-start: 0;
    display: none;
}

.j-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100px;
    overflow-y: auto;
}

.j-item {}

.j-label {
    display: block;
    text-align: start;
    padding-inline: 0.3rem;
}

.j-check {
    margin-inline-end: 0.3rem;
}

.j-item:hover {
    background-color: lightblue;
}

table.jexcel>thead>tr>td {
    overflow: visible;
}